%h3
  = icon('list', class: 'text-primary')
  Lançamentos
.well.well-sm
  .row
    .col-lg-4
      %h3.text-primary
        .text-center
          #{@account.name}
    .col-lg-4
      %h3.text-primary
        .text-center
          #{@account.bank}
    .col-lg-4
      %h3.text-primary
        .text-center
          #{@account.bank_office}
  %div
    .col-lg-6
      -# Saldo Atual
      .panel.panel-info
        .panel-heading
          .panel-title
            .text-center
              Saldo Atual
        .panel-body
          %h2
            .text-center
              #{@account.balance_br}
    .col-lg-6
      -# Saldo Inicial
      .panel.panel-info
        .panel-heading
          .panel-title
            .text-center
              Saldo Inicial
        .panel-body
          %h3
            .text-center
              .text-muted
                #{@account.initial_balance_br}
  .row
    .col-lg-12
      = form_tag( account_appointments_path, method: 'get' ) do
        - if params.has_key?(:conta_id)
          = hidden_field_tag :conta_id, params[:conta_id]
        .row
          .col-lg-6
            .row
              .col-lg-12
                .col-lg-4{style: 'padding: 10px;'}
                  = link_to('Saque', new_account_appointment_path(:type_app => 'S'), class: 'btn btn-lg btn-primary btn-block')
                .col-lg-4{style: 'padding: 10px;'}
                  = link_to('Depósito', new_account_appointment_path(:type_app => 'D'), class: 'btn btn-lg btn-primary btn-block')
                .col-lg-4{style: 'padding: 10px;'}
            .row
              .col-lg-12
                .col-lg-4{style: 'padding: 10px;'}
                  = link_to('Novo Lançamento', new_account_appointment_path, class: 'btn btn-lg btn-default btn-block')
                .col-lg-4{style: 'padding: 10px;'}
                  = link_to('Transferência', account_path(@account), class: 'btn btn-lg btn-primary btn-block')
                .col-lg-4
          .col-lg-6
            .row
              .col-lg-6
                .form-group
                  .row
                    .col-lg-4
                      = label_tag(:Data, "D. Inicio", class: 'control-label')
                      / <= select_tag :conta_id, options_for_select( current_user.accounts.collect{|a| [a.name, a.id]} ) %>
                    .col-lg-8
                      - if params.has_key?(:start_date)
                        = date_field_tag :start_date, params[:start_date], class: 'form-control'
                      - else
                        = date_field_tag :start_date, nil , class: 'form-control'
              .col-lg-6
                .form-group
                  .row
                    .col-lg-4
                      = label_tag(:Data, "D. Final", class: 'control-label')
                    / <= select_tag :conta_id, options_for_select( current_user.accounts.collect{|a| [a.name, a.id]} ) %>
                    .col-lg-8
                      - if params.has_key?(:end_date)
                        = date_field_tag :end_date, params[:end_date], class: 'form-control'
                      - else
                        = date_field_tag :end_date, nil, class: 'form-control'
            .row
              .col-lg-6
                .form-group
                  .row
                    .col-lg-6
                      = label_tag(:Data, "Tipo", class: 'control-label')
                    .col-lg-6
                      - if params.has_key?(:deb_cre)
                        = select_tag(:deb_cre, options_for_select(DEB_CRE, params[:deb_cre]), {include_blank: "Tipo(D/C)", class: 'form-control'})
                      - else
                        = select_tag(:deb_cre, options_for_select(DEB_CRE), { include_blank: "Tipo(D/C", class: 'form-control'})
              .col-lg-6
                .form-group
                  = button_tag(type: :submit, class: 'btn btn-lg btn-default btn-block') do
                    = icon('filter')
                    Filtrar
        .row
          .col-lg-6
          .col-lg-6
.table-responsive
  %table.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th Data
        %th Descrição
        %th Documento
        %th
          .text-center
            Tipo
        %th
          .text-right
            Débito
        %th
          .text-right
            Crédito
        %th
          .text-right
            S. Anterior
        %th
    %tbody
      - @accounts_appointments.each do |acc_app|
        %tr
          %td= acc_app.date_br(acc_app.date)
          %td= acc_app.description
          %td= acc_app.document
          %td
            .text-center
              = acc_app.deb_cre
          - if acc_app.deb_cre == 'D'
            %td{align: "right"}
              = acc_app.money_number_br( acc_app.value )
          - else
            %td  
          - if acc_app.deb_cre  == 'C'
            %td{align: "right"}
              = acc_app.money_number_br( acc_app.value )
          - else
            %td  
          %td{align: "right"}
            = acc_app.money_number_br( acc_app.account.prev_balance(acc_app.date, acc_app.id))
          -#%td
          -#  .text-center
          -#    = link_to 'Alterar', edit_account_appointment_path(acc_app)
          %td
            .text-center
              = link_to 'Visualizar', account_appointment_path(acc_app)
      %tr
      -#%tr
      -#  %td
      -#  %td
      -#  %td
      -#  %td{:colspan => "2"}
      -#    %h4
      -#      Saldo Inicial
      -#  %td{align: "right"}
      -#    %h4
      -#      = @account.initial_balance_br
      -#  %td{:colspan => "4"}
.row
  = paginate @accounts_appointments
%br/
