.row
  .col-lg-4
    .panel.panel-primary
      .panel-heading
        %h2.panel-title Conta
      .panel-body
        %p
          %strong Conta:
        %p
          = @account.name
        %p
          %strong Banco:
          = @account.bank
        %p
          %strong Agência:
          = @account.bank_office
        %p
          %strong Ativa
          = @account.active

        .row
          .col-lg-4
            %p
              %strong Saldo Inicial:
              %br
                = @account.initial_balance

          .col-lg-4
            %p
              %strong T. Débitos
              %br
                = @account.debits

          .col-lg-4
            %p
              %strong T. Créditos
              %br
                = @account.credits
        .text-center
          .h3
            %strong Saldo
            = @account.money_number_br(@account.balance)
      .panel-footer
        .row{style: 'margin-right: 10px'}
          .pull-right
            = link_to 'Alterar', edit_account_path(@account), class: 'btn btn-default'
            = link_to 'Voltar', accounts_path, class: 'btn btn-default'
